/* App.css */

.App {
  text-align: center;
  min-height: 100vh; /* Ensure the app container takes at least the full height of the viewport */
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #360a41;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin); /* Adjusted font size for better balance */
  color: white;
  padding: 20px; /* Add padding to give some space around the content */
  box-sizing: border-box; /* Ensure padding does not affect width */
}

button {
  padding: 10px 20px;
  background-color: #dc11ba;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  margin: 10px; /* Add margin to separate buttons */
  border-radius: 5px; /* Add border radius for rounded corners */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
}

button:hover {
  background-color: #c32792;
  transform: scale(1.05); /* Slightly enlarge button on hover */
}

.Routes {
  flex-grow: 1; /* Allow the route content to grow and fill available space */
  overflow-y: auto; /* Add scroll to the Routes container if content overflows */
}

.App-nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

button.active {
  background-color: #4CAF50;
  color: white;
}

button:hover:not(.active) {
  background-color: #ddd;
}

.tab-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-grow: 1; /* Allow tab content to grow and fill available space */
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}

.potato-image {
  width: 80%;
  max-width: 400px;
  height: auto;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
